/** (c) WebVisions.com.ua */

/* Reset */
* {margin: 0;padding:0;}
img {border: none;}

.left {text-align: left;}
.right {text-align: right;}
.center {text-align: center;}

.hidden {display: none}

.fl {float: left;}
.fr {float: right;}
.fc {clear: both;}

.red {color: red;}
.green {color:green}
.gray {color:gray}
.blue {color:blue}
.invalid {background: #FF7164 !important;}

a {color: #777;text-decoration:none;}
a:hover {text-decoration: underline;}

table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }
ul {list-style: none}

code {
    background: 0px 0px #EEEEEE;
    border: 1px solid #DDDDDD;
    display: block;
    overflow: auto;
    font-size: 0.86em;
    line-height: 1.5em;
    margin-bottom: 1.83em;
    padding: 0.67em 0.92em;
}

/** forms */
.form {float:left; }
.form label {float:left;padding: 0px 10px 5px 0;}
.nolabel {float: none !important;padding: 0;}
.form .field {clear:both;text-align:right;line-height:20px;}

.s_map {
    font-size: 12px;
    text-transform: uppercase;
}
.s_map a { text-decoration: none;padding-left: 5px}
.s_map a:hover { text-decoration: underline}
.s_map a:first-child {
    padding: 0;
}

/** Microformats */
.vcard {
    margin-bottom: 10px;
    font-size: 13px;
}
.vcard p {
    padding: 3px 0;
}
/** /Microformats */

/** Sitemap */
.sitemap {
    width: 100%;
}
.sitemap .list {
    list-style: none
}
.sitemap .l1 {
    padding-left: 15px;
}
.sitemap .l2 {
    padding-left: 25px;
}
.sitemap .l3 {
    padding-left: 35px;
}
/** /Sitemap */


.feedback {
    position: fixed;
    right: 200px;
    bottom: 0;
    z-index: 999999;

    background-color: #464646;
    background-image: -o-linear-gradient(bottom, #464646, #3F3F3F 5px);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    font: 13px/28px "Helvetica Neue", sans-serif;
    padding: 0px 10px;
    text-shadow: #444444 0px -1px 0px;
}
.feedback a {
    color: #CCC;
}
.feedback a:hover {
    color: #fff;
    text-decoration: none;
}

.h_mess {
    font: 13px/28px "Helvetica Neue", sans-serif;
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 999999;
    color: #fff;
}
.h_mess div {
    background-color: #464646;
    background-image: -o-linear-gradient(bottom, #464646, #3F3F3F 5px);
    border-left: 2px solid #BD3648;
    margin-bottom: 10px;
    padding: 0 5px;
    opacity: 0.8;
}
.h_mess a {
    color: #44A0EC;
    text-decoration: underline;
}
.h_mess a:hover {
    text-decoration: none;
}

.modal-bg {
    background-color: #AAA;
    height: 100%;
    left: 0px;
    opacity: 0.5;
    position: fixed;
    top: 0px;
    width: 100%;
}
.popup-position {
    position: fixed;
    top: 15%;
    left: 50%;
    margin-left: -260px;
    z-index: 99999;
}
.popup {
    background-color: #464646;
    background-image: -o-linear-gradient(bottom, #464646, #3F3F3F 5px);
    border-radius: 5px;
    padding: 10px;
    position: relative;
    width: 500px;
}
.popup .popup-content {
    background-color: #FFFFFF;
    padding: 10px 20px;
}
.popup-close {
    background: url("/system/admin/design/img/modal_close.png") 0px 0px no-repeat transparent;
    display: block;
    height: 29px;
    margin: -10px -10px 0px 0px !important;
    position: absolute;
    right: 0px;
    text-decoration: none;
    top: 0px;
    width: 31px;
    cursor: pointer;
}


/** forms */
.forma {clear: both;}
.forma p {padding: 5px 0;}
.forma .element {clear: both;padding: 7px 10px;}
.forma .second {background: #EFEFEF;}
.forma .element label {color: #444;clear:both;font: normal normal normal 14px/20px "Lucida Grande", "Helvetica", "Arial", "Verdana", sans-serif;}
.forma .element sup {color: red;height: 0;line-height: 1;vertical-align: baseline;position: relative;bottom: 1ex;}
.forma .element span {font-size: 12px;font-style: italic;}
.forma .f25 input, .forma .f25 select, .forma .f25 textarea {width: 25%;}
.forma .f50 input, .forma .f50 select, .forma .f50 textarea {width: 50%;}
.forma .f75 input, .forma .f75 select, .forma .f75 textarea {width: 75%;}
.forma .f100 input, .forma .f100 select, .forma .f100 textarea {width: 96%;}
.forma input {
    height: 20px;
    padding: 2px 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.forma input[type="checkbox"],
.forma input[type="radio"] {
    width: 20px;
}
/** /forms */

.warning_box {clear:both;background:url(/system/admin/design/img/warning.png) no-repeat left #fcfae9;min-height: 40px;
              border:1px #e9e6c7 solid;background-position:15px 10px;padding:8px 8px 8px 60px;margin:0 0 10px 0;}

.valid_box {clear:both;background:url(/system/admin/design/img/valid.png) no-repeat left #edfce9;min-height: 40px;
            border:1px #cceac4 solid;background-position:15px 10px;padding:8px 8px 8px 60px;margin:0 0 10px 0;}

.error_box {clear:both;background:url(/system/admin/design/img/error.png) no-repeat left #fce9e9;min-height: 40px;
            border:1px #eac7c7 solid;background-position:15px 10px;padding:8px 8px 8px 60px;margin:0 0 10px 0;}

.scrollup {
    position: fixed;
    top: 49%;
    right: 10px;
    display: none;
    width: 66px;
    height: 46px;
    border-radius: 5px;
    background: #AAA url("/system/admin/design/img/arrowup_site.png") 50% 50% no-repeat;
    text-indent: -9999px;
    opacity: 0.3;
}
.scrollup:hover {opacity: 0.8;}

/**
* / System
*/


a:link {color:#598dab;text-decoration:none;}
a:active {color:#598dab;text-decoration:none;}
a:visited {color:#598dab;text-decoration:none;}
a:hover {color:#598dab;text-decoration:none;}

/* ---------- Overall Specifications ---------- */
body {
    font: 12px/1.4 Helvetica,Arial,sans-serif;
    color: #333;
}
html, body {
    height: 100%;
    margin: 0;
}
div{
    display: block;
}
#wrapper {
    min-height: 100%;
    min-width: 960px;
    overflow: hidden;
    position: relative;
    background: url('../img/wrapper.png') repeat-x left top, #fff;
}
header{
    background: url("../img/header.png") no-repeat scroll left center transparent;
    height: 173px;
    margin: -15px auto 0;
    padding-top: 20px;
    position: relative;
    width: 959px;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
#wrapper #container {
    margin: 10px auto 60px;
    padding-bottom: 1em;
    position: relative;
    width: 959px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

#container #center {
    float: left;
    width: 100%;
    margin-left: -258px;
    font-family: Tahoma;
    font-size: 14px;
}
#container #squeeze {
    padding: 0 10px 0 20px;
    margin-left: 258px;
}
#container #squeeze ul {
    margin-left: 20px;
}
#container #squeeze ul li { 
    list-style-image: inherit;
    list-style-type: circle;
}

ul li {
    list-style-image: none;
    list-style-type: none;
}
h1, h2 {
    font-size: 160%;
    line-height: 1.1;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin: 0.6em 0 0.2em;
}
.menu {
    margin: 0;
    padding: 0;
}
ul.menu {
    border: medium none;
    list-style: none outside none;
    text-align: left;
}
.menu a {
    display: block;
}
#logo{
    position: absolute;
    left: 20px;
    top: 70px;
}
.breadcrumb{
    color: #17a4e8;
}
.breadcrumb a{
    color: #17a4e8;
    text-decoration: underline;
}
#top-menu{
    position: absolute;
    bottom: 0;
    width: 957px;
    background: url('../img/top_a.png') repeat-x;
    height: 43px;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    -webkit-border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
    behavior: url(/PIE.htc);
}
#top-menu li{
    float: left;
}
#top-menu li a {
    padding: 11px 42px 12px 43px;
    font-family: Arial;
    font-size: 14px;
    color: #666;
    border-right: 1px solid #ccc;
    text-shadow: 0px 1px 0px #fff;
}
#top-menu li.last {
    float: right;
    text-align: center;
}
#top-menu li.last a{
    border-right: 0;
    padding-right: 63px;
    padding-left: 50px;
}
#top-menu li.first a{
    padding-left:47px;
}
#top-menu li.first a:hover,
#top-menu li.first a.active {
    -webkit-border-radius: 0 0 0 8px;
    -moz-border-radius: 0 0 0 8px;
    border-radius: 0 0 0 8px;
    behavior: url(/PIE.htc);
}
#top-menu li.last a:hover,
#top-menu li.last a.active {
    -webkit-border-radius: 0 0 8px 0;
    -moz-border-radius: 0 0 8px 0;
    border-radius: 0 0 8px 0;
    behavior: url(/PIE.htc);
}
#top-menu li.last a.active {
    padding-right:63px;
}
#top-menu li a:hover,
#top-menu li a.active{
    background: url('../img/top_a_active.png') repeat-x;
    color: #fff;
    text-shadow: 0px 1px 0px #1ea9ea;
}
#head-flash{
    left: 385px;
    position: absolute;
    top: 18px;
}
.contact-text{
    position: absolute;
    right: 25px;
    text-align: right;
    top: 45px;
}
.contact-text p{
    color: #FFFFFF;
    font-size: 12px;
    text-align: right;
}
.contact-text .first-number{
    font-size: 18px;
}
.contact-text .last-number{
    font-size: 24px;
}
#container > aside {
    float: left;
    position: relative;
    z-index: 2;
}
#sidebar-first {
    width: 258px;
}
#left-menu-vosstanovlenie h2,
#left-menu-inform h2,
.opros h2{
    background: url('../img/left_h2.png') repeat-x;
    height: 44px;
    font-family: Arial;
    font-size: 16px;
    color: #fff;
    text-shadow: 0px 1px 0px #1ea9ea;
    padding-left: 20px;
    line-height: 3;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    behavior: url(/PIE.htc);
}
#left-menu-vosstanovlenie li a{
    background: url('../img/nav1.png') no-repeat left center;
    padding-left: 20px;
    color: #1498f1;
    font-size: 12px;
    text-decoration: underline;
}
#left-menu-vosstanovlenie li a:hover,
#left-menu-vosstanovlenie li a.active,
#left-menu-inform a:hover,
#left-menu-inform a.active{
    color: #2ab3f5;
}
#left-menu-vosstanovlenie li{
    margin: 4px 0;
    margin-left: 5px;
}
#left-menu-vosstanovlenie li.first{
    margin-top: 10px;
}
#left-menu-inform,
form.opros{
    margin-top: 25px;
}
#left-menu-inform a{
    background: url('../img/nav2.png') no-repeat left center;
    padding-left: 20px;
    color: #1498f1;
    font-size: 12px;
    text-decoration: underline;
}
#left-menu-inform li{
    margin: 4px 0;
    margin-left: 5px;
}
.opros p.wopros{
    color: #17a4e8;
}
form.opros .input-value{
    margin-left: 10px;
}
input.form-submit1 {
    background: url("../img/button1.png") no-repeat scroll 0 0 transparent;
}
input.form-submit2 {
    background: url("../img/button2.png") no-repeat scroll 0 0 transparent;
}
input.form-submit1,
input.form-submit2 {
    border: 0 none;
    cursor: pointer;
    height: 25px;
    width: 100px;
}
#squeeze h1{
    color: #17a4e8;
    font-size: 35px;
    margin-top: 10px;
    font-weight: normal;
}
#squeeze p.content-image{
    float: left;
    margin-right: 15px;
}
#squeeze p.last-content{
    clear: both;
}
#squeeze p.image-content{
    float: left;
    margin-right: 10px;
}
p.format-text{
    font-size: 15px;
    color: #17a4e8;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 5px;
}
#otzyv{
    width: 360px;
    overflow: hidden;
}
#back-form{
    width: 360px;
    overflow: hidden;
}
p.name{
    float: left;
    margin-right: 10px;
    margin-top: 0;
}
input.form{
    background: url('../img/button.png') no-repeat;
    border: 0 !important;
    width: 100px;
    height: 25px !important;
    cursor: pointer;
}
.forma .text{
    border: 1px solid #17a4e8;
    outline: none;
    padding: 0 5px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    behavior: url(/PIE.htc);
}
input.text{
    width: 200px;
    margin-left: 49px;
    height: 25px;
}
p.submit{
    text-align: center;
}
.forma h2{
    color: #17a4e8;
    font-size: 14px;
}
.forma p{
    color: #17a4e8;
    font-size: 12px;
} 
.forma textarea{
    padding: 5px !important;
}
span.contact-name{
    color: #17a4e8;
}
#contact-block{
    float: left;
    margin-right: 80px;
}
.tell input.text {
    margin-left: 25px;
}
.email input.text {
    margin-left: 39px;
}
.map{
    margin-left: 50px;
}
footer{
    background: url('../img/backgr-footer.png') repeat-x;
    bottom: 0;
    height: 60px;
    left: 50%;
    margin-left: -480px;
    position: absolute;
    width: 960px;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    behavior: url(/PIE.htc);
}
footer p{
    color: #fff;
    font-size: 12px;
}
.fot-content{
    position: relative;
    height: inherit;
    width: inherit;
}
#foot-block1{
    position: absolute;
    left: 20px;
    top: 5px;
}
#foot-img1{
    position: absolute;
    left: 170px;
    top: -10px;
}
#contact-foot{
    text-align: center;
    position: absolute;
    top: 12px;
    width: 100%;
}
#foot-img2{
    text-align: right;
    position: absolute;
    right: 10px;
    top: 25px;
    width: 100%;
}


.powered {
    font-size: 12px;
}

/** Microformats */
.vcard {
    margin-bottom: 10px;
    font-size: 13px;
}
.vcard p {
    padding: 3px 0;
}
/** /Microformats */

/** Sitemap */
.sitemap {
    width: 100%;
}
.sitemap .list {
    list-style: none
}
.sitemap .l1 {
    padding-left: 15px;
}
.sitemap .l2 {
    padding-left: 25px;
}
.sitemap .l3 {
    padding-left: 35px;
}
/** /Sitemap */

/** forms */
.forma {clear: both;}
.forma p {padding: 5px 0;}
.forma .element {clear: both;padding: 7px 10px;}
.forma .second {background: #EFEFEF;}
.forma .element label {color: #444;clear:both;font: normal normal normal 14px/20px "Lucida Grande", "Helvetica", "Arial", "Verdana", sans-serif;}
.forma .element sup {color: red;}
.forma .element span {font-size: 12px;font-style: italic;}
.forma .f25 input, .forma .f25 select, .forma .f25 textarea {width: 25%;}
.forma .f50 input, .forma .f50 select, .forma .f50 textarea {width: 50%;}
.forma .f75 input, .forma .f75 select, .forma .f75 textarea {width: 75%;}
.forma .f100 input, .forma .f100 select, .forma .f100 textarea {width: 96%;}
.forma input {
    height: 20px;
    padding: 2px 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.forma input[type="checkbox"],
.forma input[type="radio"] {
    width: 20px;
}
/** /forms */

.reviews form {
    margin: 0 0 0 200px;
}
.reviews .item {
    color: #666;
    clear: both;
    margin: 10px 0;
}
.reviews .item .pic {
    float: left;
    margin-right: 10px;
}
.reviews .item .fio,
.reviews .item .date {
    font-weight: bold;
}
.reviews .item .date {
    margin-bottom: 5px;
}

div#call-back {
    cursor: pointer;
    background: url("../img/callback.png");
    position:absolute;
    top: 80px;
    right: 31%;
    z-index: 2;
    width: 143px;
    height: 45px;
}


/** SLIDER */
.bx-wrapper {
    width: 680px;
    position: relative;
    margin: 0 auto 60px;
    padding: 0;
    *zoom: 1;
}

.bx-wrapper img {
    max-width: 100%;
    display: block;
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
    border:  5px solid #fff;
    left: -5px;
    background: #fff;

    /*fix other elements on the page moving (on Chrome)*/
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: -30px;
    width: 100%;
}

/* LOADER */

.bx-wrapper .bx-loading {
    min-height: 50px;
    background: url(../img/bx_loader.gif) center center no-repeat #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #666;
    padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: #666;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
    left: 10px;
    background: url(../img/controls.png) no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
    right: 10px;
    background: url(../img/controls.png) no-repeat -43px -32px;
}

.bx-wrapper .bx-prev:hover {
    background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
    background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    outline: 0;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
    display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
    text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
    display: block;
    text-indent: -9999px;
    width: 10px;
    height: 11px;
    outline: 0;
    background: url(../img/controls.png) -86px -11px no-repeat;
    margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
    background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
    display: block;
    text-indent: -9999px;
    width: 9px;
    height: 11px;
    outline: 0;
    background: url(../img/controls.png) -86px -44px no-repeat;
    margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
    background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: left;
    width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    right: 0;
    width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #666\9;
    background: rgba(80, 80, 80, 0.75);
    width: 100%;
}

.bx-wrapper .bx-caption span {
    color: #fff;
    font-family: Arial;
    display: block;
    font-size: .85em;
    padding: 10px;
}
/** /SLIDER */

/** Cleaner */
.admin-panel:after, .vcard:after {
    content: ' ';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}